/Tutorial 3/ICT2WebApplication/nbproject/private/
/Tutorial 3/ICT2WebApplication/build/
/Tutorial 3/ICT2Client/nbproject/private/
/Tutorial 3/ICT2Client/build/
/Tutorial 3/ICT2Client/dist/
/ICT2 S2/ICT2WebApplication/dist/
/Test/ICT2WebApplication/nbproject/private/
/Test/ICT2WebApplication/build/
/Test/ICT2Client/nbproject/private/
/Test/ICT2Client/build/
/Test/ICT2WebApplication/dist/